.results {
  margin: auto;
  margin-top: 2rem;
  background-color: #34495e;
  color: white;
  max-width: 25rem;
  display: none;
}
.result {
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: #ecf0f1 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result__value {
  text-transform: lowercase;
}
